# EV data - City of Austin 

### AustinTX-CS--02_EDA02.ipynb
ref: Plug-In EVerywhere Level 2 Charging Station Network
link: https://data.world/cityofaustin/k5hp-eece
<hr>

In [2]:
# Imports

import pandas as pd
import matplotlib.pyplot as plt

In [3]:
ls ..

LICENSE       QGIS/         README.md     code/
Notes/        README.ipynb  clean-data/   data/

In [6]:
df = pd.read_csv('../data/austin-tx/plug-in-everywhere-level-2-charging-station-network-1.csv')

In [7]:
df.shape

(467, 17)

In [9]:
df.head(3)

,Station Name,Address 1,Address 2,City,State,Postal Code,No. of Ports,Pricing Policy,Usage Access,Category,Subcategory,Port 1: Connector Type,Voltage (V),Port 2: Connector Type,New Georeferenced Column,Pricing,Power Select
0,CATHERINE / CATHERINE 1,300 Barton Springs Rd,NaN,Austin,Texas,78704,2,$4.17/month PIE members $2/hr Non-Members,Multi-family residential,Multifamily Commercial,Apartment,J1772,240V,J1772,"(30.259096, -97.747775)",$4.17/month PIE members $2/hr Non-Members,40A
1,AUSTIN HQ / STATION 1,4200 Smith School Dr,NaN,Austin,Texas,78744,2,$4.17/month PIE members $2/hr Non-Members,Commercial with unrestricted access,Workplace,General,J1772,240V,J1772,"(30.192647, -97.714329)",$4.17/month PIE members $2/hr Non-Members,40A
2,SCHOOL / AKINS1,10701 S 1st St.,NaN,Austin,Texas,78748,2,$4.17/month PIE members $2/hr Non-Members,"Public (Municipal, as in library, street, etc)",Education,High School / Other,J1772,240V,J1772,"(30.147634, -97.801294)",$4.17/month PIE members $2/hr Non-Members,40A

<br>

<hr>

In [10]:
df[df['Voltage (V)'] != '240V'].head(3)

,Station Name,Address 1,Address 2,City,State,Postal Code,No. of Ports,Pricing Policy,Usage Access,Category,Subcategory,Port 1: Connector Type,Voltage (V),Port 2: Connector Type,New Georeferenced Column,Pricing,Power Select
3,MONOGRAM / HANDICAP,615 W 7th St,NaN,Austin,Texas,78701,1,$4.17/month PIE members $2/hr Non-Members,Multi-family residential,Multifamily Commercial,Apartment,J1772,--,--,"(30.270571, -97.748993)",$4.17/month PIE members $2/hr Non-Members,40A
37,HABITAT SUITES / SINGLE PORT,500 E Highland Mall Blvd,NaN,Austin,Texas,78752,1,$4.17/month PIE members $2/hr Non-Members,Commercial with unrestricted access,Workplace,General,J1772,--,--,"(30.329076, -97.709553)",$4.17/month PIE members $2/hr Non-Members,40A
45,HANOVER / L5,110 San Antonio St,NaN,Austin,Texas,78701,1,$4.17/month PIE members $2/hr Non-Members,Commercial with restricted access,Multifamily Commercial,Apartment,J1772,--,--,"(30.265299, -97.749118)",$4.17/month PIE members $2/hr Non-Members,40A

<hr>

#### Price Policy 

- $4.17/month PIE members $2/hr Non-Members
-

#### Number of Ports

- 93.58% of Charging Stations have 2 ports

#### Voltage 

- 240 V -

#### Power Select 

- 97.16% (444) @ 40A 
- 2.4% (11) @ 30A
- .44% (2) @ 20A

#### Port 1: Connector Type

- 92.7% (433) are J1772
- 7.8% (34) are NEMA 5-20R

#### Demographics

** Create visualization to show relationship between: **

    - Usage acess
    - category
    - subcategory 
    - maybe GIS

Largest categories are:
- 19.49% Mulifamily commercial 
- 25.05% parking
- 37.47% workplace

<hr>