# Charging Station Behavior
### Georgia Tech EV Charging Station transactions and miles driven
link: https://www.kaggle.com/claytonmiller/campus-electric-vehicle-charging-stations-behavior  
git https://github.com/Sheldon-Zhang/Gatech_EV_Analytics
<hr>

In [1]:
# Imports

import pandas as pd
import

In [2]:

df = pd.read_csv('../data/ev_charging_datasets/Georga_EV_charge_behavior/EV-Charging-Raw-Data.csv')

In [3]:
df.shape

(1530, 30)

In [7]:
df.head(3)

,Label 01,Lable 02,Org Name,Start Date,Start Time Zone,End Date,End Time Zone,Transaction Date (Pacific Time),Total Duration (hh:mm:ss),Charging Time (hh:mm:ss),...,Postal Code,Country,Label 07,Label 08,Currency,Fee,Ended By,Plug In Event Id,Driver Postal Code,User ID
0,A,A,Georgia Tech,2/13/2015 13:30,EST,2/13/2015 14:42,EST,2/13/2015 11:46,1:12:10,1:11:50,...,30308,United States,A,A,USD,1.02,Plug Out at Vehicle,540,30102,254811.0
1,A,A,Georgia Tech,2/13/2015 12:47,EST,2/13/2015 13:45,EST,2/13/2015 10:46,0:58:39,0:58:15,...,30308,United States,A,A,USD,0.83,Customer,539,30269,323807.0
2,A,A,Georgia Tech,2/13/2015 11:50,EST,2/13/2015 13:02,EST,2/13/2015 10:04,1:11:40,1:11:24,...,30308,United States,A,A,USD,1.02,Plug Out at Vehicle,538,30253,345151.0

In [8]:
df.tail(3)

,Label 01,Lable 02,Org Name,Start Date,Start Time Zone,End Date,End Time Zone,Transaction Date (Pacific Time),Total Duration (hh:mm:ss),Charging Time (hh:mm:ss),...,Postal Code,Country,Label 07,Label 08,Currency,Fee,Ended By,Plug In Event Id,Driver Postal Code,User ID
1527,A,A,Georgia Tech,2/13/2015 6:35,EST,NaN,EST,NaN,9:05:05,6:38:01,...,30308,United States,A,A,NaN,0.0,NaN,791,30114,235945.0
1528,A,A,Georgia Tech,2/13/2015 15:03,EST,NaN,EST,NaN,0:35:09,0:34:44,...,30308,United States,A,A,NaN,0.0,NaN,1423857773,30345,183185.0
1529,A,A,Georgia Tech,2/13/2015 7:43,EST,NaN,EST,NaN,7:55:25,7:36:11,...,30308,United States,A,A,NaN,0.0,NaN,792,30622,217113.0

In [9]:
df.head(1).T

                                                   0
Label 01                                           A
Lable 02                                           A
Org Name                                Georgia Tech
Start Date                           2/13/2015 13:30
Start Time Zone                                  EST
End Date                             2/13/2015 14:42
End Time Zone                                    EST
Transaction Date (Pacific Time)      2/13/2015 11:46
Total Duration (hh:mm:ss)                    1:12:10
Charging Time (hh:mm:ss)                     1:11:50
Energy (kWh)                                   6.249
GHG Savings (kg)                               2.625
Gasoline Savings (gallons)                     0.784
Port Type                                    Level 2
Port Number                                        1
Plug Type                                      J1772
Label 03                                           A
Label 04                                           A
Label 05                                          A
Label 06                                           A
Postal Code                                    30308
Country                                United States
Label 07                                           A
Label 08                                           A
Currency                                         USD
Fee                                             1.02
Ended By                         Plug Out at Vehicle
Plug In Event Id                                 540
Driver Postal Code                             30102
User ID                                       254811

In [11]:
df.columns

Index(['Label 01', 'Lable 02', 'Org Name', 'Start Date', 'Start Time Zone',
       'End Date', 'End Time Zone', 'Transaction Date (Pacific Time)',
       'Total Duration (hh:mm:ss)', 'Charging Time (hh:mm:ss)', 'Energy (kWh)',
       'GHG Savings (kg)', 'Gasoline Savings (gallons)', 'Port Type',
       'Port Number', 'Plug Type', 'Label 03', 'Label 04', 'Label 05',
       'Label 06', 'Postal Code', 'Country', 'Label 07', 'Label 08',
       'Currency', 'Fee', 'Ended By', 'Plug In Event Id', 'Driver Postal Code',
       'User ID'],
      dtype='object')

In [15]:
df['GHG Savings (kg)']

0       2.625
1       1.828
2       1.823
3       3.300
4       2.551
        ...
1525    2.263
1526    0.026
1527    7.170
1528    0.893
1529    9.005
Name: GHG Savings (kg), Length: 1530, dtype: float64

In [13]:
# A slice of the data frame

df[['Start Date',
'Total Duration (hh:mm:ss)',
'Charging Time (hh:mm:ss)',
'Energy (kWh)',
'Port Type',
'Gasoline Savings (gallons)',
'Postal Code',
'Ended By',
'Fee',
'Driver Postal Code',
'User ID']]

,Start Date,Total Duration (hh:mm:ss),Charging Time (hh:mm:ss),Energy (kWh),Port Type,Gasoline Savings (gallons),Postal Code,Ended By,Fee,Driver Postal Code,User ID
0,2/13/2015 13:30,1:12:10,1:11:50,6.249,Level 2,0.784,30308,Plug Out at Vehicle,1.02,30102,254811.0
1,2/13/2015 12:47,0:58:39,0:58:15,4.352,Level 2,0.546,30308,Customer,0.83,30269,323807.0
2,2/13/2015 11:50,1:11:40,1:11:24,4.341,Level 2,0.545,30308,Plug Out at Vehicle,1.02,30253,345151.0
3,2/13/2015 7:43,4:50:48,3:19:30,7.857,Level 2,0.986,30308,Plug Out at Vehicle,4.12,30062,261355.0
4,2/13/2015 9:33,1:58:46,1:58:14,6.075,Level 2,0.762,30308,Plug Out at Vehicle,1.68,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1525,1/10/2014 7:29,1:50:23,1:49:49,5.389,Level 2,0.676,30308,NaN,0.00,30064,202419.0
1526,1/4/2014 11:38,0:01:50,0:01:24,0.063,Level 2,0.008,30308,NaN,0.00,30005-3767,8027.0
1527,2/13/2015 6:35,9:05:05,6:38:01,17.071,Level 2,2.142,30308,NaN,0.00,30114,235945.0
1528,2/13/2015 15:03,0:35:09,0:34:44,2.125,Level 2,0.267,30308,NaN,0.00,30345,183185.0
1529,2/13/2015 7:43,7:55:25,7:36:11,21.440,Level 2,2.691,30308,NaN,0.00,30622,217113.0